@import "tailwindcss";

@theme {
  --color-white-app: #d8d8e2;
  --color-dark-app: #101011;
  --color-card-app: #7171752d;
  --color-block-app: #1f1f20;
}

body,
html,
#root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: "Overpass Variable", sans-serif;
  color: #e7eef1;
}

span,
button {
  font-family: "Overpass Variable", sans-serif !important;
}

